nav{
  background-color: red;

  @include sm-device{
    grid-row: 2;
  }

  @include lg-device{
    grid-column: 1/2;
    grid-row: 1;
    z-index: 1;
  }

}


#l-nav-button{
  display: flex;

  @include sm-device{
    height: 100%;
  }
}

#l-nav-content{
  @include  sm-device{
   display: none; 
  }
}

.nav-item{
  border: 1px solid;

  @include sm-device{
    flex-grow: 1;
    text-align: center;
  }

  @include lg-device{
    flex-grow: 1;
    height: 60px;
  }

  span{
    align-content: center;
  }
}

.nav-map{
  @include lg-device{
  display: none;
  }
}

.nav-button{
  width: 100%;
  height: 100%;
  background: none;
  border:none;
  cursor: pointer;
}
