.l-container{
  margin:0;
  display: grid;
  height: 100vh;
  width: 100vw;

  @include sm-device{
  grid-template-rows: 1fr 60px;
  }
  @include lg-device{
    grid-template-columns: 480px 1fr;
  }

}

section{
  background-color: yellow;

  @include sm-device{
    grid-row:1;
  }

  @include lg-device{
    grid-column: 1/3;
    grid-row: 1;
  }
}

nav{
  background-color: red;

  @include sm-device{
    grid-row: 2;
  }

  @include lg-device{
    grid-column: 1/2;
    grid-row: 1;
    z-index: 1;
  }

}